{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@screens": "./src/screens",
        "@contexts": "./src/contexts",
        "@components": "./src/components",
        "@constants": "./src/constants",
        "@routes": "./src/routes",
        "@assets": "./assets"
      }
    }]
  ]
}